
.imgTrans {
    background-image: url('../../utils/img/transparente.svg');
    width: 211px;
    height: 230px
}
  
  .prev-button,
  .next-button {
    position: absolute;
    bottom: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
    background-color: initial;
    color: initial;
    border: initial;
  }
  
  .next-button {
    top:90px;
    background-color: initial;
    color: initial;
    border: initial;
  }
  